body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* navbar */

.nav-link {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Kaushan Script';
}


/* accueil */

.navbar {
    border-bottom: 1px solid black;
}

.imgProfileAcc {
    width: 160px;
    border-radius: 50%;
    height: 170px;
}

#accueil {
    min-height: 750px;
}

/* Services */

.imgServices {
    width: 120px;
    height: 120px;
}

/* footer */

.titreContact {
    padding: 40px 0 50px 0;
    margin-top: 100px;
}
